USE [CinemaDB_2]
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 18.05.2024 18:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[ActorID] [int] IDENTITY(1,1) NOT NULL,
	[ActorFullName] [varchar](500) NOT NULL,
	[ActorPhoto] [varchar](max) NULL,
	[ActorBirthday] [date] NULL,
	[ActorCountry] [varchar](500) NULL,
	[ActorHeight] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ActorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Directors]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[DirectorID] [int] IDENTITY(1,1) NOT NULL,
	[DirectorFullName] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[GenreName] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[HallID] [int] IDENTITY(1,1) NOT NULL,
	[HallName] [varchar](100) NOT NULL,
	[HallType] [varchar](20) NOT NULL,
	[NumberOfRows] [int] NOT NULL,
	[NumberOfSeats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HallID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Media]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[MediaID] [int] IDENTITY(1,1) NOT NULL,
	[MovieDescription] [varchar](4000) NOT NULL,
	[MoviePhoto] [varchar](max) NOT NULL,
	[MovieTrailer] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MediaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Actor]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Actor](
	[MovieID] [int] NOT NULL,
	[ActorID] [int] NOT NULL,
	[ActorNickname] [varchar](100) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Director]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Director](
	[MovieID] [int] NOT NULL,
	[DirectorID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Genre]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Genre](
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Screenwriter]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Screenwriter](
	[MovieID] [int] NOT NULL,
	[ScreenwriterID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[MovieID] [int] IDENTITY(1,1) NOT NULL,
	[MovieTitle] [varchar](255) NOT NULL,
	[MediaID] [int] NOT NULL,
	[Duration] [time](7) NOT NULL,
	[Country] [text] NOT NULL,
	[WorldPremiere] [date] NOT NULL,
	[UkrainePremiere] [date] NOT NULL,
	[Rating] [varchar](50) NOT NULL,
	[EndOfShow] [date] NOT NULL,
	[Limitations] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieSessions]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieSessions](
	[MovieSessionID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[StartTime] [time](7) NULL,
	[TheLowestPrice] [int] NULL,
	[MiddlePrice] [int] NULL,
	[TheHighestPrice] [int] NULL,
	[HallID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovieSessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[PriceID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[SeatReservationID] [int] NOT NULL,
	[Price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MovieSessionID] [int] NOT NULL,
	[PriceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Screenwriters]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Screenwriters](
	[ScreenwriterID] [int] IDENTITY(1,1) NOT NULL,
	[ScreenwriterFullName] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScreenwriterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatReservation]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatReservation](
	[SeatReservationID] [int] IDENTITY(1,1) NOT NULL,
	[HallID] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
	[SeatNumber] [int] NOT NULL,
	[IsReserved] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.05.2024 18:14:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](200) NOT NULL,
	[UserEmail] [varchar](200) NOT NULL,
	[UserPassword] [varchar](200) NOT NULL,
	[UserRole] [varchar](200) NOT NULL,
	[IsReserved] [bit] NOT NULL,
	[Token] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Actors] ON 

INSERT [dbo].[Actors] ([ActorID], [ActorFullName], [ActorPhoto], [ActorBirthday], [ActorCountry], [ActorHeight]) VALUES (1, N'Ryan Reynolds', N'https://drive.google.com/file/d/1cVSen0qaEGHvz4HUa5mJvFIuHFK9eEZE/view?usp=sharing', CAST(N'1976-10-23' AS Date), N'Vancouver, Canada', 188)
INSERT [dbo].[Actors] ([ActorID], [ActorFullName], [ActorPhoto], [ActorBirthday], [ActorCountry], [ActorHeight]) VALUES (2, N'Morena Baccarin', N'https://drive.google.com/file/d/1vapDao4Y63ktEtdpKNdmpRewMUOvs2WF/view?usp=sharing', CAST(N'1979-06-02' AS Date), N'Rio de Janeiro, Brazil', 171)
INSERT [dbo].[Actors] ([ActorID], [ActorFullName], [ActorPhoto], [ActorBirthday], [ActorCountry], [ActorHeight]) VALUES (3, N'T.J. Miller', N'https://drive.google.com/file/d/1u9NvfkXXnLDrA4o3D2KZoio5DYat61mw/view?usp=sharing', CAST(N'1981-06-04' AS Date), N'Denver, Colorado, USA', 188)
SET IDENTITY_INSERT [dbo].[Actors] OFF
GO
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([DirectorID], [DirectorFullName]) VALUES (1, N'Tim Miller')
INSERT [dbo].[Directors] ([DirectorID], [DirectorFullName]) VALUES (2, N'Scott Derrickson')
INSERT [dbo].[Directors] ([DirectorID], [DirectorFullName]) VALUES (3, N'Denis Villeneuve')
SET IDENTITY_INSERT [dbo].[Directors] OFF
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (1, N'Action')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (2, N'Comedy')
INSERT [dbo].[Genres] ([GenreID], [GenreName]) VALUES (3, N'Adventure')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Halls] ON 

INSERT [dbo].[Halls] ([HallID], [HallName], [HallType], [NumberOfRows], [NumberOfSeats]) VALUES (1, N'Hall #1', N'2D', 4, 20)
INSERT [dbo].[Halls] ([HallID], [HallName], [HallType], [NumberOfRows], [NumberOfSeats]) VALUES (2, N'Hall #2', N'3D', 5, 30)
INSERT [dbo].[Halls] ([HallID], [HallName], [HallType], [NumberOfRows], [NumberOfSeats]) VALUES (3, N'Hall #3', N'3D', 5, 50)
SET IDENTITY_INSERT [dbo].[Halls] OFF
GO
SET IDENTITY_INSERT [dbo].[Media] ON 

INSERT [dbo].[Media] ([MediaID], [MovieDescription], [MoviePhoto], [MovieTrailer]) VALUES (1, N'Witness the origin story of Wade Wilson, who adopts the alter ego Deadpool after a rogue experiment leaves him with accelerated healing powers...and a dark, twisted sense of humor.', N'https://drive.google.com/file/d/1rlsnc2VnRvPWMG_Cbx_vmNkDbvCpFeQO/view?usp=sharing', N'https://www.youtube.com/watch?v=Xithigfg7dA')
INSERT [dbo].[Media] ([MediaID], [MovieDescription], [MoviePhoto], [MovieTrailer]) VALUES (2, N'In Marvel Studios’ Doctor Strange, a world-famous neurosurgeon seeking a cure finds powerful magic in a mysterious place known as Kamar-Taj – the front line of a battle against unseen dark forces bent on destroying our reality.', N'https://drive.google.com/file/d/1whG5kJULPcoaa7EZLM4I3wCKxwDxrbGi/view?usp=sharing', N'https://www.youtube.com/watch?v=aWzlQ2N6qqg')
INSERT [dbo].[Media] ([MediaID], [MovieDescription], [MoviePhoto], [MovieTrailer]) VALUES (3, N'The son of a noble family travels to a dangerous planet to ensure the future of his people in this visually stunning sci-fi epic.', N'https://drive.google.com/file/d/1pgDsV11DIwpFQrfGEue3x43E6cRCzt1W/view?usp=sharing', N'https://www.youtube.com/watch?v=8g18jFHCLXk')
SET IDENTITY_INSERT [dbo].[Media] OFF
GO
INSERT [dbo].[Movie_Director] ([MovieID], [DirectorID]) VALUES (1, 1)
INSERT [dbo].[Movie_Director] ([MovieID], [DirectorID]) VALUES (2, 2)
INSERT [dbo].[Movie_Director] ([MovieID], [DirectorID]) VALUES (3, 3)
GO
INSERT [dbo].[Movie_Genre] ([MovieID], [GenreID]) VALUES (1, 1)
INSERT [dbo].[Movie_Genre] ([MovieID], [GenreID]) VALUES (1, 2)
INSERT [dbo].[Movie_Genre] ([MovieID], [GenreID]) VALUES (2, 1)
GO
INSERT [dbo].[Movie_Screenwriter] ([MovieID], [ScreenwriterID]) VALUES (1, 1)
INSERT [dbo].[Movie_Screenwriter] ([MovieID], [ScreenwriterID]) VALUES (1, 2)
INSERT [dbo].[Movie_Screenwriter] ([MovieID], [ScreenwriterID]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([MovieID], [MovieTitle], [MediaID], [Duration], [Country], [WorldPremiere], [UkrainePremiere], [Rating], [EndOfShow], [Limitations]) VALUES (1, N'Deadpool', 1, CAST(N'01:48:00' AS Time), N'USA', CAST(N'2016-02-08' AS Date), CAST(N'2016-02-11' AS Date), N'8.0/10', CAST(N'2024-05-25' AS Date), N'18+')
INSERT [dbo].[Movies] ([MovieID], [MovieTitle], [MediaID], [Duration], [Country], [WorldPremiere], [UkrainePremiere], [Rating], [EndOfShow], [Limitations]) VALUES (2, N'Doctor Strange', 2, CAST(N'01:55:00' AS Time), N'USA', CAST(N'2016-10-13' AS Date), CAST(N'2016-10-28' AS Date), N'7.5/10', CAST(N'2024-06-01' AS Date), N'16+')
INSERT [dbo].[Movies] ([MovieID], [MovieTitle], [MediaID], [Duration], [Country], [WorldPremiere], [UkrainePremiere], [Rating], [EndOfShow], [Limitations]) VALUES (3, N'Dune', 3, CAST(N'02:35:00' AS Time), N'USA, Canada, Hungary', CAST(N'2021-09-03' AS Date), CAST(N'2021-09-16' AS Date), N'8.0/10', CAST(N'2024-06-05' AS Date), N'12+')
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[MovieSessions] ON 

INSERT [dbo].[MovieSessions] ([MovieSessionID], [MovieID], [StartTime], [TheLowestPrice], [MiddlePrice], [TheHighestPrice], [HallID]) VALUES (1, 1, CAST(N'19:40:00' AS Time), 180, 200, 220, 2)
INSERT [dbo].[MovieSessions] ([MovieSessionID], [MovieID], [StartTime], [TheLowestPrice], [MiddlePrice], [TheHighestPrice], [HallID]) VALUES (2, 2, CAST(N'20:30:00' AS Time), 120, 140, 160, 3)
INSERT [dbo].[MovieSessions] ([MovieSessionID], [MovieID], [StartTime], [TheLowestPrice], [MiddlePrice], [TheHighestPrice], [HallID]) VALUES (3, 3, CAST(N'17:50:00' AS Time), 130, 150, 170, 3)
SET IDENTITY_INSERT [dbo].[MovieSessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Prices] ON 

INSERT [dbo].[Prices] ([PriceID], [MovieID], [SeatReservationID], [Price]) VALUES (1, 1, 21, 160)
INSERT [dbo].[Prices] ([PriceID], [MovieID], [SeatReservationID], [Price]) VALUES (2, 1, 22, 160)
INSERT [dbo].[Prices] ([PriceID], [MovieID], [SeatReservationID], [Price]) VALUES (3, 1, 23, 160)
GO
SET IDENTITY_INSERT [dbo].[Prices] OFF
GO
SET IDENTITY_INSERT [dbo].[Screenwriters] ON 

INSERT [dbo].[Screenwriters] ([ScreenwriterID], [ScreenwriterFullName]) VALUES (1, N'Rhett Reese')
INSERT [dbo].[Screenwriters] ([ScreenwriterID], [ScreenwriterFullName]) VALUES (2, N'Paul Wernick')
INSERT [dbo].[Screenwriters] ([ScreenwriterID], [ScreenwriterFullName]) VALUES (3, N'Jon Spaihts')
SET IDENTITY_INSERT [dbo].[Screenwriters] OFF
GO
SET IDENTITY_INSERT [dbo].[SeatReservation] ON 

INSERT [dbo].[SeatReservation] ([SeatReservationID], [HallID], [RowNumber], [SeatNumber], [IsReserved]) VALUES (1, 1, 1, 1, 0)
INSERT [dbo].[SeatReservation] ([SeatReservationID], [HallID], [RowNumber], [SeatNumber], [IsReserved]) VALUES (2, 1, 1, 2, 0)
INSERT [dbo].[SeatReservation] ([SeatReservationID], [HallID], [RowNumber], [SeatNumber], [IsReserved]) VALUES (3, 1, 1, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[SeatReservation] OFF
GO
ALTER TABLE [dbo].[SeatReservation] ADD  DEFAULT ((0)) FOR [IsReserved]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsReserved]
GO
ALTER TABLE [dbo].[Movie_Actor]  WITH CHECK ADD FOREIGN KEY([ActorID])
REFERENCES [dbo].[Actors] ([ActorID])
GO
ALTER TABLE [dbo].[Movie_Actor]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Movie_Director]  WITH CHECK ADD FOREIGN KEY([DirectorID])
REFERENCES [dbo].[Directors] ([DirectorID])
GO
ALTER TABLE [dbo].[Movie_Director]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
GO
ALTER TABLE [dbo].[Movie_Genre]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Movie_Screenwriter]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Movie_Screenwriter]  WITH CHECK ADD FOREIGN KEY([ScreenwriterID])
REFERENCES [dbo].[Screenwriters] ([ScreenwriterID])
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD FOREIGN KEY([MediaID])
REFERENCES [dbo].[Media] ([MediaID])
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([MovieID])
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD FOREIGN KEY([SeatReservationID])
REFERENCES [dbo].[SeatReservation] ([SeatReservationID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([MovieSessionID])
REFERENCES [dbo].[MovieSessions] ([MovieSessionID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([PriceID])
REFERENCES [dbo].[Prices] ([PriceID])
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SeatReservation]  WITH CHECK ADD FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([HallID])
GO
